body{
  background:lightyellow;
}

.container{
 border:5px solid yellow;
}
.container div{
  font-size:4rem;
  color:whitesmoke;
}
.container div:nth-child(odd){
  background:lightblue;
}
.container div:nth-child(even){
  background:rgb(236, 72, 72);
}