@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  font-style: normal;
}
html {
  text-align: center;
  color: white;
}

body {
  padding: min(10px, 7%);
}

.container {
  border: 5px solid black;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; /** responsive unit 1fragment takes space according to it's parent  but if replace by fix unit:200px 200px 200px 200px then it will be not responsive**/
  grid-template-rows: 200px 200px 200px; 
}

.card {
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: blue;
}
