@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  font-style: normal;
}
html {
  text-align: center;
  color: white;
}

body {
  padding: min(10px, 7%);
}

.container {
  border: 2px solid black;
  gap: 5px;
  display: grid;
  grid-template-columns:150px 150px 150px 150px;
  grid-template-rows:150px 150px 150px 150px;
  /***for grid template area we have to give style: grid-area property***/
  grid-template-areas: 
  "card1 card2 card3 card4"
  "card1 card5 card5 card4"
  "card6 card5 card5 card7"
  "card9 card9 card8 card7";
}

.card {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: blue;
  border-radius: 5px;
}
