*{
  margin:0;
  padding:0;
}
body{
  display:flex; /***all items will be arrange according to main axis(for reference x axis)**/
  /* align-items:center; *for cross axis */
  height: 400px;
  flex-wrap: wrap;
  justify-content: center; /****for main axis**/
  align-items:center; /****for cross axis in center**/
  align-content: center; /**for whole content in center**/
}
.box{
  height: 100px;
  width: 100px;
  background-color: blue;
  margin:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
